<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="../assets/imagens/{{pensamento.modelo}}.png" alt="Aspas coloridas">
  <p class="conteudo">{{pensamento.conteudo}}</p>
  <p class="conteudo autoria">{{pensamento.autoria}}</p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/editarpensamento/{{pensamento.id}}">
      <img src="../assets/imagens/icone-editar.png" alt="Editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="../assets/imagens/icone-excluir.png" alt="Excluir">
    </button>
  </div>
</div>
